@media screen and (max-width: 1799px) {}


@media screen and (max-width: 1599px) {}

@media screen and (max-width: 1408px){}

@media screen and (max-width: 1216px) {
    section{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .theme-padding{
        padding-left: 80px;
        padding-right: 80px;
    }
    .section-title h1 {
        font-size: 32px;
        line-height: 30px;
    }
    .about-bg-img {
        left: 39%;
    }
    .legacy-title h1 {
        font-size: 30px;
    }
    .background-div::before {
        z-index: -2;
        display: none;
    }
}

@media screen and (max-width: 1180px){
    section{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .theme-padding{
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .baner-title h1 {
        font-size: 38px;
    }

    .about-bg-img {
        position: absolute;
        top: 30%;
        left: 37%;
        z-index: -1;
    }
    
    .project-bg-img {
        position: absolute;
        top: 9%;
        right: 39%;
    }
   
    .about-contant {
        margin-left: 80px;
    }
    .project-contant {
        margin-left: 40px !important;
    }
    .section-paragraph p {
        margin-bottom: 40px;
        font-size: 18px;
    }
    .legacy-paragraph p {
        font-size: 18px;
        color: #8F8F8F;
        margin-bottom: 20px;
    }
    .project-title h1 {
        font-size: 24px;
        line-height: 50px;
    }

}


@media screen and (max-width: 1024px) {
    .about-contant {
        margin-left: 0px;
    }
    .theme-padding {
        padding-left: 80px;
        padding-right: 80px;
    }
   
    .top-box {
        display: block;
        position: relative;
        width: 70px;
        height: 71px;
        background-image: url(/images/rounded-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    .first-box {
        display: flex;
        gap: 65px;
        margin-bottom: 42px;
    }
    .second-box {
        display: flex;
        gap: 69px;
    }
    .about-bg-img {
        position: absolute;
        top: 33%;
        left: 37%;
        z-index: -1;
    }
    .project-contant {
        margin-left: 80px !important;
    }
    .project-btm button {
        width: 100px;
        padding: 7px 10px 8px 10px;
        border: 1px solid;
        color: #1D8492;
    }
    .section-paragraph p {
        margin-bottom: 30px !important;
        font-size: 16px;
    }
    .about-title h1 {
        margin-bottom: 10px;
    }
    .about-title h2 {
        margin-bottom: 5px;
    }
    .section-title h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .about-image {
        display: flex;
        justify-content: center;
    }


}


@media screen and (max-width: 991px) {
    section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .theme-padding {
        padding-left: 80px;
        padding-right: 80px;
    }
    .project-contant {
        margin-left: 50px !important;
    }
    .section-paragraph p {
        margin-bottom: 20px !important;
    }
    .lagesy-bg-img {
        top: 60%;
    }

    .project-bg-img {
        right: 38.5%;
        top: 3%;
        max-width: 220px;
    }
    
    .about-bg-img {
        left: 37.5%;
        max-width: 220px;
    }
    
    
}


@media screen and (max-width: 880px){
    section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .theme-padding {
        padding-left: 80px;
        padding-right: 80px;
    }
    .baner-title h1 {
        font-size: 38px;
    }
    .about-bg-img {
        position: absolute;
        top: 50%;
        left: -22.5%;
        
    }
    
    .section-paragraph p {
        margin-bottom: 40px !important;
    }
    .lagesy-bg-img {
        top: 54%;
    }
    .project-bg-img {
        right: -15.5%;
        top: -7px;
    }
    .project-btm button {
        width: 82px;
        padding: 7px 12px;
       
    }
    .section-title h1 {
        margin-bottom: 15px;
    }
    .about-btm button {
        padding: 4px 10px;
    }
    .about-title h2 {
        font-size: 12px;
    }
    .section-paragraph p {
        font-size: 14px;
    }
    .legacy-paragraph p {
        font-size: 16px;
    }
}




@media screen and (max-width: 768px){ 
    .theme-padding {
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-title{
        margin-bottom: 10px;
    }
    .about-contant {
        margin-left: 0;
    }
    .baner-title h1 {
        font-size: 26px;
        line-height: 41px;
    }
    .lagesy-bg-img {
        top: 49%;
        z-index: -1;
    }
    .mr-40{
        margin-bottom: 25px;
        margin-right: 0;
    }
    
    .project-contant {
        margin-left: 0px !important;
        margin-bottom: 40px;
    }
    .lagesy-bg-img {
        top: 44%;
        z-index: -1;
    }
    .project-bg-img {
        left: -28%;
        top: 157px;
        width: 80%;
    }
    .background-div::before{
        width: 100%;
        height: 250px;
        background-color: #f6f6f6;
        display: block !important;
    }
    .baner-title {
        top: 58%;
    }
    .legacy-items {
        padding-left: 36px;
        max-width: 600px;
        max-height: max-content;
    }
    
}



@media screen and (max-width: 575px) {
    .section-title h1 {
        font-size: 26px ;
        line-height: 41px;
    }
    .top-box {
        width: 60px;
        height: 59px;
    }
   
    .section-paragraph p {
        margin-bottom: 20px ;
    }
    .legacy-box {
        margin-bottom: 20px;
    }
    .project-title h1 {
        margin-bottom: 5px;
    }
    .project-contant {
        margin-bottom: 20px;
    }
    .project-title h2 {
        margin-bottom: 0px;
    }
}


@media screen and (max-width: 480px) {
    .legacy-items {
        padding-left: 36px;
        max-width: 440px;
        max-height: max-content;
    }
    .legacy-paragraph p {
        font-size: 14px;
        color: #8F8F8F;
        margin-bottom: 20px;
    }
    .project-title h1 {
        font-size: 20px;
        line-height: 50px;
    }
    .section-title h1 {
        font-size: 22px;
    }
    .legacy-title h1 {
        font-size: 24px;
    }   
    .project-btm button {
        padding: 5px 8px;
    }
}


@media screen and (max-width: 420px) {}


@media screen and (max-width: 380px) {}


@media screen and (max-width: 360px){
    .baner-title h1 {
        font-size: 20px;
        line-height: 31px;
    }
}



@media screen and (max-width: 600px){
    .legacy-section{
        background-image: url(../images/home/l-600.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 1000px){
    .legacy-section{
        background-image: url(../images/home/l-1000.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 300px){
    .legacy-section{
        background-image: url(../images/home/la-300.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

/* @media screen and (max-width: 400px){
    .legacy-section{
        background-image: url(../images/home/l-400.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    } 
} */